@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Orbitron', Arial, sans-serif;
  background: radial-gradient(circle, #0f0c29, #302b63, #24243e);
  color: #fff;
  max-width: 100%;
  overflow-x: hidden;
}
html{
  scroll-behavior: smooth;
}

header {
  background-color: #222;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 0 10px #0ff;
}

header img {
  height: 40px;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ccc;
}

a {
  color: #0ff;
  text-decoration: none;
  margin: 0 10px;
  font-weight: bold;
  transition: color 0.3s ease;
}

a:hover {
  color: #f0f;
}

section {
  padding: 40px 20px;
  scroll-margin-top: 80px;
  max-width: 1000px;
  margin: 40px auto;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 20px;
  box-shadow: 0 0 30px #0ff3;
}

h1 {
  color: #ff0;
  text-shadow: 0 0 5px #f0f, 0 0 10px #0ff;
}


p {
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
}


img#pers {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px #0ff;
}

ul {
  list-style: none;
  padding: 0;
}

iframe {
  width: 100%;
  max-width: 325px;
  height: 600px;
  border: none;
}

.video-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  body {
    font-size: 90%;
  }

  header, nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  section {
    padding: 20px 40px;
    scroll-margin-top: 150px;
    margin: 20px;
  }
}
